<link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/f55520d6-4a35-47fc-865a-a7225369bb75.css"/>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/lang-hs.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type='text/javascript'>
  $(function() {
    // add prettyprint class to all <pre><code></code></pre> blocks
    var prettify = false;
    $("pre code").parent().each(function() {
        $(this).addClass('prettyprint');
        prettify = true;
    });
    if ( prettify ) {
        $.getScript("https://google-code-prettify.googlecode.com/svn/loader/prettify.js", function() { prettyPrint() });
    }
  });
</script>
