
<ul class="main-navigation">

  <li>
  <span>
    <form action="{{ site.simple_search }}" method="get">
      <fieldset role="search">
        <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
        <input class="search" type="text" name="q" results="0" placeholder="Search"/>
      </fieldset>
    </form>
	</span>
  </li>
  <li><a href="{{ root_url }}/archives">Archives</a></li>
  <li><a href="{{ site.subscribe_rss }}/">RSS</a></li>
  <li><a href="{{ site.related_site_url }}">{{ site.related_site_name }}</a></li>
</ul>

